node_modules
dist
packages/server/.env
packages/server/.env.example
.git
.github
.gitignore
.idea

packages/client-next/.env.example
packages/client-next/.next
uploads
*.log
*.tsbuildinfo
.eslintrc.json
.eslintignore
.prettierrc
