node_modules
#dist
.env.example
.git
.github
.gitignore
.idea

apps/client-old/.next
*.spec.ts
**/__mocks__/
uploads
*.log
*.tsbuildinfo
.eslintrc.json
.eslintignore
.prettierrc
docker-compose.yml
docker-compose.test.yml
lets-choose-key-pair.pem
test.Dockerfile
README.md
Dockerfile
Dockerfile.test.dockerignore
apps/client-old
apps/client-components-e2e
apps/server
