@import "../../assets/styles/bootstrap-utils";

.home-page {
  $offset: 120px;
  $mobile-offset: 65px;

  &__content {
    position: relative;
    padding-top: $offset;
    margin-top: 0!important;

    @include media-breakpoint-down(lg) {
      padding-top: 140px;
    }
  }

  &__header {
    left: 0;
    position: fixed;
    width: 100%;
    top: $offset;
    background: #f5f7fb;
    z-index: 3;

    @include media-breakpoint-down(lg) {
      top: $mobile-offset;
    }

    &--scrolled {
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    }

    .page-header {
      padding: 1.5rem 0;
      margin: 0;
      transition: all 0.3s ease-in-out;
    }

    &--scrolled .page-header {
      padding: 1rem 0;
    }
  }
}
