@import "src/assets/styles/bootstrap-utils";

.create-contest-item-form {
  &__preview-holder {
    background-color: rgba(0, 0, 0, .04);
    height: 250px;

    @include media-breakpoint-down(lg) {
      height: 180px;
    }

    @include media-breakpoint-down(md) {
      height: 250px;
    }

    @include media-breakpoint-down(sm) {
      height: 180px;
    }

    @include media-breakpoint-down(xs) {
      height: 35vw;
      min-height: 100%;
    }
  }
}
