@import "src/assets/styles/bootstrap-utils";

.contest-card {
  &__image-holder {
    display: block;
    height: 374px;

    @include media-breakpoint-down(lg) {
      height: 294px;
    }

    @include media-breakpoint-down(md) {
      height: 334px;
    }

    @include media-breakpoint-down(sm) {
      height: 514px;
    }

    @include media-breakpoint-down(xs) {
      height: 92.82vw;
    }
  }

  &__image {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
